alatka-messages-core/src/main/resources/alatka-messages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://messages.alatka.com" targetNamespace="http://messages.alatka.com">
    <xs:element name="alatka-messages" type="alatka-messagesType"/>
    <xs:complexType name="alatka-messagesType">
        <xs:sequence>
            <xs:element type="messageType" name="message"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="messageType">
        <xs:sequence>
            <xs:element type="payloadType" name="header" minOccurs="0"/>
            <xs:element type="payloadType" name="request" minOccurs="0"/>
            <xs:element type="payloadType" name="response" minOccurs="0"/>
            <xs:element type="payloadType" name="payload" minOccurs="0"/>
            <xs:element type="subPayloadType" name="subPayload" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="remark" use="required"/>
        <xs:attribute type="xs:string" name="type" use="required"/>
        <xs:attribute type="xs:string" name="group" use="required"/>
        <xs:attribute type="xs:string" name="code" use="required"/>
        <xs:attribute type="xs:string" name="charset" use="optional"/>
        <xs:attribute type="xs:string" name="clazz" use="optional"/>
    </xs:complexType>
    <xs:complexType name="payloadType">
        <xs:sequence>
            <xs:element type="fieldType" name="field" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="clazz" use="optional"/>
    </xs:complexType>
    <xs:complexType name="subPayloadType">
        <xs:sequence>
            <xs:element type="fieldType" name="field" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="domain" use="required"/>
        <xs:attribute type="xs:string" name="domainType" use="optional"/>
        <xs:attribute type="xs:string" name="usage" use="optional"/>
        <xs:attribute type="xs:string" name="clazz" use="optional"/>
    </xs:complexType>
    <xs:complexType name="fieldType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:int" name="index" use="optional"/>
                <xs:attribute type="xs:string" name="domainNo" use="required"/>
                <xs:attribute type="xs:string" name="name" use="required"/>
                <xs:attribute type="xs:string" name="clazz" use="optional"/>
                <xs:attribute type="xs:string" name="className" use="optional"/>
                <xs:attribute type="xs:string" name="pattern" use="optional"/>
                <xs:attribute type="xs:boolean" name="fixed" use="optional"/>
                <xs:attribute type="xs:int" name="length" use="optional"/>
                <xs:attribute type="xs:string" name="remark" use="required"/>
                <xs:attribute type="xs:string" name="status" use="optional"/>
                <xs:attribute type="xs:string" name="pageSizeName" use="optional"/>
                <xs:attribute type="xs:string" name="parseType" use="optional"/>
                <xs:attribute type="xs:string" name="lenParseType" use="optional"/>
                <xs:attribute type="xs:boolean" name="existSubdomain" use="optional"/>
                <xs:attribute type="xs:string" name="subdomainType" use="optional"/>
                <xs:attribute type="xs:string" name="aliasName" use="optional"/>
                <xs:attribute type="xs:int" name="maxLength" use="optional"/>
                <xs:attribute type="xs:boolean" name="nonSubdomainException" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
</xs:schema>